ul {
    list-style-type: circle; /* Changes bullets to squares */
}

ol {
    list-style-type: lower-roman; /* Changes numbers to Roman numerals */
}

dt {
    font-weight: bold;
    color: #1a0060;
}
dd {
    font-style: italic;
    color: #00541f;
}