body {
    background-color: #2d545e;
}
h1 {
    color:#e1b382;
    font-style: bold;
    font-size: larger;
}
h2 {
    color: #c89666;
    font-style: bold;
    font-size: large;
}
nav a {
    background-color: #12343b;
    color: #c89666;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 6px 8px;
    font-size: large;
}