body {
    background-color:cornsilk;
    font-family:'Courier New', Courier, monospace;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: large;
}
iframe {
    display: block;
    border: none;
    margin: 0 auto;
    height: 500px;
    width: 90%;
    overflow: hidden;
}