body {
    background-color:cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: xx-large;
    margin-left: 5%;
}
h2 {
    font-size: large;
    margin-left: 7%;
}
iframe {
    background-color: antiquewhite;
    display: block;
    border: none;
    margin: 0 auto;
    width: 90%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
